  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

  /* general styles */
  .body {
    color: black;
    background:#FFF;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif !important;
  }  

  h1 {
    font-family: 'Lora', serif;
    position: relative;
  }

  h1:before {
    content: '';
    background: #4CD7D0;
    width: 350px;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0;
    height: 18px;
  }


  /* nav styles */

  .navbar {
    background-color: #fff;
    border-bottom: 0.5px solid #000;
  }

  .navbar .container {
    max-width: unset;
  }

  .nav-link,
  .nav-item a,
  .navbar-brand {
    cursor: crosshair;
  }
  
  a.nav-link {
    margin-right: 1em !important;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #000 !important;
  }

  .nav-link {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  .nav-link:hover {
    color: #000;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-link.skills::before {
    bottom: -3px;
  }

  .nav-link.skills {
    padding: 0;
  }
  
  .nav-link:hover::before, .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler {
    letter-spacing: 1px;
  }

  /* header styles */
  
  .masthead {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .scroll-btn {
    max-width: 350px;
  }

  .btn.button {
    background-color: #000;
    border:none;
    color: #fff;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: 5px;
  }

  .button svg.down-arrow {
    transform: rotate(-90deg);
    transition: 0.5s;
  }

  .button:hover svg.down-arrow {
    transform: rotate(0deg);
  }

   /* footer */

   .footer svg {
     width: 25px;
     height: 25px;
     margin: 0 10px;
     transition: 0.5s;
   }

   .footer svg.margin-top {
    margin-top: 4px !important;
   }

   .footer a:first-of-type:hover {
     text-decoration: none;
   }

   .footer a:hover svg {
    width: 30px;
    height: 30px;
    box-sizing: content-box;
  }

  /* footer */


