  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

  /* general styles */
  .body {
    color: black;
    background:#FFF;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
  }  

  h1 {
    font-family: 'Lora', serif;
    position: relative;
  }

  h1:before {
    content: '';
    background: #4CD7D0;
    width: 350px;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0;
    height: 18px;
  }

  h3 {
    font-family: 'Lora', serif !important;
  }

  h6{
    font-weight: 400;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  a {
    
    color: unset;
  }

  a:hover{
    text-decoration: unset !important;
  }

  .quote {
    margin: 0;
  }


  /* nav styles */

  .navbar {
    background-color: #fff;
    border-bottom: 0.5px solid #000;
  }

  .navbar .container {
    max-width: unset;
  }

  .nav-link,
  .nav-item a,
  .navbar-brand {
    cursor: crosshair;
  }
  
  a.nav-link {
    margin-right: 1em !important;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #000 !important;
    text-decoration: none;
    position: relative;
  }

  .nav-link:hover {
    color: #000;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 10px;
    left: 0;
    background-color:  #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-link.skills::before {
    bottom: -3px;
    height: 4px;
    background-color:  #4CD7D0;
  }

  .nav-link.skills {
    padding: 0;
  }
  
  .nav-link:hover::before, .nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler {
    letter-spacing: 1px;
  }

  .navbar.mobile {
    border-top: 2px solid #000;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar.mobile ul {
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }


  /* header styles */
  
  .masthead {
    height: 100vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .scroll-btn {
    max-width: 350px;
  }

  .btn.button {
    background-color: #000;
    border:none;
    color: #fff;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: 5px;
  }

  .button svg.down-arrow {
    transform: rotate(-90deg);
    transition: 0.5s;
  }

  .button:hover svg.down-arrow {
    transform: rotate(0deg);
  }

  /* work */

  .cards {
    display: flex;
    justify-content:space-between;
  }

  .cards.bottom a{
    width: 30%;
  }

  .card.work {
    width: 100%;
    height: 350px;
    transition: 0.5s;
  }

  .yellow {
    background-color: #F8EA8C;
  }

  .blue {
    background-color: #A4E8E0;
  }

  .card-body.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .card-body.work:hover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
  }

  .card.work svg {
    width: 23rem;
    height: 6rem;
  }

  .card-title.work {
    font-weight: 500;
    line-height: 2rem;
    position: relative;
    width: fit-content;
  }

  .card-title.work:before {
    content: '';
    background: #4CD7D0;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0;
    height: 6px;
    transition: 0.3s;
  }

  .card.work:hover .card-title.work:before {
    content: ">";
    height: 100% !important;
    text-align: center;
    margin: 0 auto;
    left: 68%;
    font-size: 20px;
    font-weight: 900;
    color: #4CD7D0;
    background: unset;
  }
  /* work */

  /* instacart */

  .sidebar ul {
    list-style-type: none;
  }
  .background-content span, .link {
    font-weight: 900;
  }

  .prototype-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img.prototype-image {
    max-width: 700px;
    max-height: 750px;
    object-fit: cover;
  }

  /* instacart */

  /* about */

  .colour-block {
    background-color: #F8EA8C;
    padding: 30px;
  }

  .about-section.top, .page-section.case-study {
    padding-top: calc(5rem + 60px) !important;
  }

  .page-section.about-section {
    padding-bottom: 0;
  }


  .portrait {
    height:300px;
    width: 300px;
    margin: 0;
    object-fit: cover;
  }

  /* timeline */
  .hori-timeline .events.text {
    border-top: 5px solid #000;
  }
  .hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  .hori-timeline .events.text .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #000;
    top: 0;
  }
  .hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
  }

  .hori-timeline .events .event-list {
    display: inline-block;
    width: 25%;
    padding-top: 45px;
  }

  .bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
  }

  .bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
  }

  .bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
  }

  .bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
  }

  .card.about {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
  }

  .list-inline-item svg {
    height: 45px;
    width: 45px;
  }
  /* timeline */

  .more-info svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }

  .more-info p{
    margin-bottom: 0;
  }

  .more-info span, .colour-block span {
    font-weight: bold;
  }
  /* about */

   /* footer */

   .footer svg {
     width: 25px;
     height: 25px;
     margin: 0 10px;
     transition: 0.5s;
   }

   .footer svg.margin-top {
    margin-top: 4px !important;
   }

   .footer a:first-of-type:hover {
     text-decoration: none;
   }


  /* footer */

  @media(max-width:420px) {
    .navbar.mobile {
      position: fixed;
      bottom: 0;
      width: 100%;
      border-bottom: 0;
    }
    a.nav-link {
      margin-right: 0 !important;
      font-weight: 600;
    }
    .masthead {
      width: 90%;
      margin: 0 auto;
      height: unset;
      padding: 60px 0 0 0;
    }
    .about-section.top {
      padding-top: 30px !important;
    }
  }

  @media (max-width:450px) {
    .cards.bottom a {
      width: 100%;
      margin: 10px 0;
    }

    .cards.bottom .card.work {
      width: 100% !important;
    }
  }

  @media (max-width:768px) {
    .card-section {
      padding: 20px !important;
    }
    .cards:first-of-type {
      margin: 0;
    }
    .card-title.work:before, h1:before {
      content:unset;
    }
    .back-home svg {
      height: 30px;
      width: 30px;
    }
  }

  @media(max-width:800px) {
    .portrait-container {
      display:flex;
      justify-content: center;
      align-items: center;
      margin:0 10px;
      padding: 0 !important;
    }
    .portrait {
      height: 100%;
      width: 150px;
    }
    .colour-block {
      padding:20px;
    }
  }

  @media (max-width: 880px) {
    .hori-timeline {
      justify-content: center;
    }
    .hori-timeline .list-inline {
      flex-direction: column;
    }
    .hori-timeline .list-inline .event-list {
      width: unset;
    }
    .hori-timeline .list-inline .event-list:first-of-type:before {
      content: unset !important;
    }

    .hori-timeline .list-inline.img {
      display: none !important;
    }
    .hori-timeline .events.text {
      border: unset;
    }
    img.prototype-image {
      max-width: 350px;
      max-height: 400px;
    }
    .page-section.case-study {
      padding-top: 30px !important;
    }
  }

  @media (max-width: 1200px) {
    .overview-content .main {
      order: 1;
    }
    .overview-content .sidebar {
      order: 0;
    }
  }

  @media (min-width: 1140px) {
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
  }
